@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    background-color: #F5F5DC;
}

