body {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.buttonStyle {
    background: linear-gradient(135deg, rgba(255, 179, 71, 1) 39%, rgba(255, 200, 71, 1) 101%);
    border-color: #ffa86a;
    color: black;
    border-radius: 5px;
}

.headerStyle {
    background:linear-gradient(135deg, rgba(255, 179, 71, 1) 39%, rgba(255, 200, 71, 1) 101%);
    color: black;
    font-weight: bold;
}


